$color-background-panel: #FFFBEB;
$color-background-page: #D2D2FA;

$color-primary: #0a2b61;
$color-primary-light: #d5e4fb;
$color-primary-medium: #c3d8f9;
$color-primary-dark: #0a2b61;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #E6E6E6;

$color-grey-dark-1: #676767;
$color-grey-dark-2: #A4A4A4;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-danger-light: #f8d7da;
$color-danger-medium: #f5c6cb;
$color-danger-dark: #721c24;

$color-success-light: #c3e6cb;
$color-success-medium: #ade7bb;
$color-success-dark: #155724;